.bar {
  display: inline-block;
  list-style-type: none;
  height: auto;
}

.logo {
  margin: 30px;
  display: inline-block;
}

.menu {
  position: relative;
  display: inline-block;
  margin-left: 30px;
}

.menu a {
  color: hsl(0, 0%, 41%);
  text-decoration: none;
  margin: auto;
  padding: 15px;
}

.menu a:hover {
  color: hsl(0, 0%, 8%);
}

.menu a svg {
  padding-left: 7px;
  display: inline-block;
  width: fit-content;
}
