.bar {
  display: inline;
  list-style-type: none;
}

.logo {
  display: inline;
  margin: 30px;
}

.menu {
  display: inline;
  margin-left: 30px;
}

.menu a {
  color: hsl(0, 0%, 41%);
  text-decoration: none;
  margin: auto;
  padding: 15px;
}

.menu a:hover {
  color: hsl(0, 0%, 8%);
}

.menu a svg {
  padding-left: 5px;
}
