@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Epilogue', system-ui, sans-serif;
  margin: 0;
  background: hsl(0, 0%, 98%);
  font-size: 18px;
  color: hsl(0, 0%, 41%);
}
