.btn {
  padding: 8px 17px;
  margin: 0px 10px;
  background-color: #fff;
  border: none;
  color: grey;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.btn:hover {
  color: #000;
}

.btn-outlined {
  border: 2px solid grey;
  border-radius: 12px;
}
